<div class="fondo p-5">

    <h3 class="text-center text-light">Rellene todos los campos maracados como obligatorios <span class="text-danger">*</span></h3>
    <div class="jumbotron p-3 mx-auto text-light border border-secondary" style="background-color: black; width: 60%;">
        <p>Sus datos de registro</p>
        <form>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Nombre de usuario</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Dirección de email</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Contraseña</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Contraseña otra vez</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
        </form>
    </div>
    <div class="jumbotron p-3 mx-auto text-light border border-secondary" style="background-color: black; width: 60%;">
        <p>Sus datos personales</p>
        <form>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Nombre y apellidos</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
            <div class="form-group row">
                <label for="text" class="text-right col-sm-4 col-form-label">NIF / CIF</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Teléfono de contacto</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
                <span class="text-danger">*</span>
            </div>
        </form>
    </div>
    <div class="jumbotron p-3 mx-auto text-light border border-secondary" style="background-color: black; width: 60%;">
        <p>Sus datos postales</p>
        <form>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Dirección</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group row col-7 offset-3">
                <label   class="text-right col-sm-2 col-form-label">Nº.</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="">
                </div>
                <label   class="text-right col-sm-2 col-form-label">Esc.</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="">
                </div>
                <label   class="text-right col-sm-2 col-form-label">Piso</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="">
                </div>
                <label   class="text-right col-sm-2 col-form-label">Letra</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group row col-8 offset-3">
                <label   class="text-right col-sm-2 col-form-label">CP</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="">
                </div>
                <label   class="text-right col-sm-2 col-form-label">Localidad</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Provincia</label>
                <div class="col-sm-7">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label   class="text-right col-sm-4 col-form-label">Pais</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="">
                </div>
            </div>
        </form>
    </div>
</div>